   <button class="btn btn-danger pull-left" style="float: right;margin: 1%;"> 
        <a href="/logout" style="text-decoration: none;color: #fff;"> Logout </a>
    </button>
      <button class="btn btn-primary pull-left" style="float: left;margin: 1%;"> 
        <a href="/customers" style="text-decoration: none;color: #fff;"> Back </a>
    </button>
<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-6">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/customer_add">
        <div class="jumbotron">
        <h2>Customer Add</h2>
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" name="firstname" id="firstname" class="form-control" onkeypress="return isalpha(event)" value= "{{firstname}}" placeholder="First Name" />
          </div>
          <div class="form-group">
              <label for="glass_name">Glass Name</label>
              <input type="text" name="glass_name" id="glass_name" value= "{{glass_name}}" nkeypress="return isalpha(event)" class="form-control">
          </div>
          <div class="form-group">
              <label for="lance_number">Lance Number</label>
              <input type="text" name="lance_number" id="lance_number" class="form-control" onkeypress="return decimal_digit(event)"  placeholder="Lance Number" value="{{lance_number}}" />
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" class="form-control"  placeholder="Email" value="{{email}}" />
          </div>
          <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input type="text" name="phone_number" id="phone_number" onkeypress="return isNumber(event)" class="form-control"  placeholder="Phone Number" value="{{phone_number}}" />
          </div>
          <div class="form-group">
              <label for="quntity">Quntity</label>
              <input type="text" name="quntity" id="quntity" class="form-control" onkeypress="return isNumber(event)"  placeholder="Quntity" value="{{quntity}}" />
          </div>
          <div class="form-group">
                <label for="price">Price</label>
              <input type="text" name="price" id="price" onkeypress="return decimal_digit(event)" class="form-control" value="{{price}}" placeholder="Price" />
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Add Customer</button>
          </div>
          </div>
        </form>
    </div>
</div>
