   <button class="btn btn-danger pull-left" style="float: right;margin: 1%;"> 
        <a href="/logout" style="text-decoration: none;color: #fff;"> Logout </a>
    </button>
      <button class="btn btn-primary pull-left" style="float: left;margin: 1%;"> 
        <a href="/products" style="text-decoration: none;color: #fff;"> Back </a>
    </button>
<div class="row justify-content-md-center bg-img" style="margin-top: 30px">
    <div class="col-md-6">
        <img src="images/eye.jpg" alt="" style="height: 96%;width: 107%;">
    </div>
    <div class="col-md-6">
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" enctype="multipart/form-data" action="/product_add">
        <div class="jumbotron" style="background-image: linear-gradient(to right top, #c88ac8, #aa9cdd, #8bace5, #78b8e1, #79c1d5);">
        <h2>Product Add</h2>
            <div class="form-group">
              <label for="p_name">Product Name</label>
              <input type="text" name="p_name" id="p_name" class="form-control" value= "{{p_name}}" placeholder="Product Name" />
          </div>
          <div class="form-group">
              <label for="lance_number">Lance Number</label>
              <input type="text" name="lance_number" id="lance_number" class="form-control" onkeypress="return decimal_digit(event)"  placeholder="Lance Number" value="{{lance_number}}" />
          </div>
          <div class="form-group">
                <label for="price">Price</label>
              <input type="text" name="price" id="price" onkeypress="return decimal_digit(event)" class="form-control" value="{{price}}" placeholder="Price" />
          </div>
          <div class="form-group">
             <label for="size">Size</label>
             <select name="size" id="size" class="form-control">
                 {{#each products}}
                 <option value="{{this.id}}">{{this.size}}</option>
                 {{/each}}
             </select>  
          </div>
           <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="30" rows="5" class="form-control">{{discription}}</textarea>
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" name="p_image" id="p_image" class="form-control">
            </div>
          <div class="form-group">
              <button class="btn btn-primary">Add Product</button>
          </div>
          </div>
        </form>
    </div>
</div>
